// heart
//   it should have a red color
.heart
  color red

// tmux
//   it should looks like the tmux terminal
.tmux
  background #1a1a1a
  color #eee
  border-bottom 2px solid green
  padding 0 .5em
  a
    color #eee
    text-decoration none

// coded
//  it should be bolded
.coded
  font-weight 800
