@require "atoms/span"
@require "atoms/links"
@require "atoms/states"
@require "atoms/forms"
@require "atoms/errors"
@require "templates/page"
@require "templates/footer"
@require "templates/header"
@require "templates/search"
@require "modules/gift"
@require "modules/register"
@require "modules/description"

body
  background #b3d7ee
  color #1a1a1a

.half
  margin 0 auto
  width 30%
