<script type="text/template" id="gift-search" charset="utf-8">
  <label for="rechercher une personne"><i class="fa fa-user fa-lg "></i></label>
  <input type="search" id="gift-src" name="gift-search" placeholder="Rechercher une personne"></input>
  <div class="error-search"></div>
  <div class="search-actions half">
    <button role="button" id="gift-add" name="gift-add" class="btn btn-orange">
      <i class="fa fa-truck fa-flip-horizontal fa-lg"></i>
      envoyer cadeau
    </button>
    <button role="button" id="gift-sk" name="gift-seek" class="btn btn-orange">
      <i class="fa fa-exchange fa-lg"></i>
      voir les échanges
    </button>
  </div>
</script>
