<script type="text/template" id="gift-view-current-getter" charset="utf-8">
  <div class="single-gift">
    <div><%= giver.name %></div>
    <div><%= getter.name %></div>
    <div><%= status %></div>
    <button role="button" name="accept-gift">Accepter l'échange</button>
    <button role="button" name="refuse-gift">Refuser l'échange</button>
  </div>
</script>
