<script type="text/template" id="search-result" charset="utf-8">
  <% if (filterOn  && filterOn != null) { %>
    <div><i class="fa fa-filter"></i> résultats pour :  <%= filterOn  %></div>
  <% } %>
  <ul id="suggestions">
  </ul>
</script>
