<script type="text/template" id="user-view" charset="utf-8">
<div> <%= username %> </div>
<div> <%= password %> </div>
<button role="button" id="logout" class="btn btn-navy"><i class="fa fa-sign-out"></i> déconnexion</button>
</script>
