<script type="text/template" id="user-empty-view" charset="utf-8">
<div class="tab tab-register" tabindex=2>créer un compte</div>
    <div class="tab tab-login" tabindex=3>se connecter</div>

    <div id="form-register">
      <label for="pseudonyme"><abbr title="pseudonyme">pseudo</abbr></label>
      <input type="text" name="register-nick"></input>
      <div class="register-username-error"></div>
      <label for="courriel">courriel</label>
      <input type="mail" name="register-mail"></input>
      <div class="register-email-error"></div>
      <label for="mot de passe">mot de passe</label>
      <input type="password" name="register-pwd"></input>
      <div class="register-pwd-error"></div>
      <button role="button" id="register" class="btn btn-navy">ok</button>
    </div>

    <div id="form-login">
      <label for="courriel">courriel</label>
      <input type="mail" name="login-mail" placeholder="example@me.com"></input>
      <div class="login-email-error"></div>
      <label for="mot de passe">mot de passe</label>
      <input type="password" name="login-pwd"></input>
      <div class="login-pwd-error"></div>
      <button role="button" id="login" class="btn btn-navy">ok</button>
    <div>
</script>
