/*
 *  register form
 *  type : form
 *
 *    It should be easily navigable
 *
 */

#form-register, #form-login
  input, label
    display block
  label
    margin 1em 0 0 0
  button
    margin 1em 0 0 0
