{#login panel#}
<div id="panel">
  <div class="username">
     {{ user.name }}
  </div>
  <div class="notification">
    {{ user.notification.count }}
  </div>
  <div class="panel">
    <a href="{{ user.profile.url }}">profil</a>
  </div>
</div>
