/*
 *  #footer
 *  type : section
 *
 *    it should be fixed to the bottom
 *    it should have a full width
 *    its text should be centered
 *    its span should be equal typo as normal text
 *    its visibility should be less important than the rest
 */

#footer
  position fixed
  bottom 0
  left 0
  width 100%
  text-align center
  color #111
  background #9de3e5
  padding 0.5em 0
