/*
 *  search bar
 *  type : element
 *
 *  it should be highlighted since it's the
 *    main element of the app
 */
#search
  width 100%
  background #90bae4
  text-align center
  padding 1em 0
  margin 1em 0
  box-shadow 0 0 3px #1c64ae

