<div id="footer">
  <span class="coded"><i class="fa fa-code"></i></span> with
  <span class="heart"><i class="fa fa-heart"></i></span> and
  <span class="tmux">
    <a href="http://tmux.sourceforge.net">tmux</a>
  </span>
  by Kominist
  <a href="https://github.com/kominist/trade">
    <i class="fa fa-github"></i>
  </a>
</div>
